* { margin: 0; padding: 0; }
div {
	width: 100px;
	height: 100px;
	background: black;
	border-radius: 100px;
}

canvas {
	width: 600px;
	height: 450px;
	border: 1px solid #ccc;
}
body {	background: #fff;
	width: 605px;
	height: 455px;
	border: 1px solid #f00;
	overflow: hidden;
}